{% extends "webshell/base.html" %}
{% block title %}Sản phẩm{% endblock %}

{% block content %}
<div class="container section">
    <h2 class="text-center">Sản phẩm & Gói dịch vụ</h2>

    <div class="row mt-5">

        <div class="col-md-4">
            <div class="card p-3">
                <h5>Cá nhân, Hộ kinh doanh không chịu thuế</h5>
                <ul>
                    <li>Quản lý thu chi cơ bản</li>
                    <li>Giới hạn AI</li>
                    <li>Tạo, in sổ theo quy định</li>
                    <li>Lưu dữ liệu vào Clound của khách hàng</li>
                </ul>
            </div>
        </div>

        <div class="col-md-4">
            <div class="card p-3 border-primary">
                <h5>Hộ kinh doanh chịu thuế</h5>
                <ul>
                    <li>Biểu đồ Doanh thu, chi phí</li>
                    <li>Quản lý thu, chi theo quy đinh</li>
                    <li>Tạo, in sổ theo quy đinh</li>
                    <li>Lưu dữ liệu vào Clound của khách hàng</li>
                </ul>
            </div>
        </div>

        <div class="col-md-4">
            <div class="card p-3">
                <h5>Doanh nghiệp</h5>
                <ul>
                    <li>Hạch toán thu, chi</li>
                    <li>Quản lý dòng tiền</li>
                    <li>Quản lý kho hàng</li>
                    <li>Lưu dữ liệu vào Clound của khách hàng</li>
                </ul>
            </div>
        </div>

    </div>
</div>
{% endblock %}
