{% extends "accounting/website/base.html" %}

{% block content %}

<h4>Sổ chi tiết</h4>

<div class="card p-3 mt-3">

    <table class="table table-bordered">
        <thead>
            <tr>
                <th>Ngày</th>
                <th>Nội dung</th>
                <th>Nợ</th>
                <th>Có</th>
            </tr>
        </thead>

        <tbody>
        {% for r in rows %}
            <tr>
                <td>{{ r.date }}</td>
                <td>{{ r.description }}</td>
                <td>{{ r.debit }}</td>
                <td>{{ r.credit }}</td>
            </tr>
        {% endfor %}
        </tbody>

    </table>

</div>

{% endblock %}