{% extends "dashboard/base.html" %}
{% block title %}Tổng quan{% endblock %}

{% block content %}

<h3>Tổng quan</h3>

<div class="row mt-4">
    <div class="col-md-4">
        <div class="card p-3">
            <h6>Tổng thu tháng này</h6>
            <h4>0 VNĐ</h4>
        </div>
    </div>

    <div class="col-md-4">
        <div class="card p-3">
            <h6>Tổng chi tháng này</h6>
            <h4>0 VNĐ</h4>
        </div>
    </div>

    <div class="col-md-4">
        <div class="card p-3">
            <h6>Số lượt AI còn lại</h6>
            <h4>50</h4>
        </div>
    </div>
</div>

{% endblock %}
